@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");

// FONTS
$font-l: 16px "Raleway", sans serif;
$font-m: 14px "Raleway", sans serif;
$font-s: 12px "Raleway", sans serif;
$font-light: 300;
$font-bold: 700;
$h1: 3rem;
$h2: 1.5rem;
$span: 1rem;

// COLORS
$white: white;
$black: black;
$red-dark: rgb(204, 0, 0);

// BREAKPOINTS
$tablet: 768px;
$smartphone: 425px;
